
body {
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #f4f4f4;
  color: #333; 
}

body.dark {
  background-color: #1a1a1a;
  color: #e6e6e6; 
}


.settings-page.light {
  background-color: #ffffff;
  color: #333; 
}

.settings-page.dark {
  background-color: #333333;
  color: #e6e6e6; 
}

.setting-heading.light {
  color: #333;
}

.setting-heading.dark {
  color: #e6e6e6;
}

.theme-button {
  background-color: #4caf50;
  color: white;
}

.theme-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}
