.chart-item {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 500px;
    height: 400px;

}
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
