.budget-form, .expense-form,.budget-form , .saving-form  {
    background-color: #f9f9f9; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    max-width: 400px; 
    margin: 20px auto;
  }
  
  .form-heading {
    text-align: center; 
    font-size: 1.5em; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  .form-label {
    display: block; 
    margin-bottom: 2px; 
    font-weight: bold; 
    color: #555; 
  }
  
  .form-class {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
  
  input[type="number"],
  input[type="text"],
  input[type="date"],
  select {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    /* margin-bottom: 30px; */
    font-size: 1em; 
  }
  
  input[type="checkbox"] {
    margin-right: 10px; 
  }
  
  .error {
    color: #e74c3c; 
    font-size: 0.9em;
    margin-top: -10px; 
    margin-bottom: 15px; 
  }

  .form-button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}
  
  .form-button {
    background-color: #9a47a5; 
    color: white; 
    border: none; 
    margin-left: 40px;
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 1em;
   width: 100%;
    transition: background-color 0.3s; 
  }
  
  .form-button:hover {
    background-color: #bb70c4; 
  }
  
  @media (max-width: 500px) {
    .budget-form,
    .expense-form,
    .saving-form,
    .income-form {
        padding: 15px; 
    }
  
    .form-button {
      font-size: 0.9em; 
      padding: 8px 16px;
    }
  }
  