
  
  .col-md-10 {
	
	height: 100vh; 
	text-align: center; 
	position: relative;
	z-index: 1;
  }

  
  
  .nav-link {
	text-decoration: none; 
	text-align: center; 
	padding: 25px; 
	color:black; 
	/* display: block;  */
	display: flex;
	flex-direction: column;
	justify-content:center ;
	align-items: stretch;
	border-radius: 10px;
  }
  
  .navbar {
	margin-bottom: 20px; 
	/* background-color: rgb(122, 24, 141); */
	height: auto;
  }
  .img-thumbnail{
	border-radius: 20px;
  }
 
  
  .nav-link:hover {
	background-color: rgb(251, 179, 250); 
	color: black; 
  }
  

  

  
  .navbar-toggler {
	background-color: rgba(30, 28, 28, 0.1); 
	border: none;
	cursor: pointer; 
  }
  
  .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  
  .nav-link:hover {
	transition: background-color 0.3s ease; 
  }
  
 
  .navbar-toggler:hover {
	background-color: rgba(24, 22, 22, 0.2); 
  }
  