
/* body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;

  }
  
  #card-design {
    width: 100%;
    max-width: 450px;
    padding: 10rem;
    background-color: #ed91e7;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .text-success {
    color: #28a745;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .form-control {
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .form-control:focus {
    border-color: #aa00ff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn {
    font-size: 1rem;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-left: 20px;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    background-color: #b032ef;
    color: white;
  }
  

  
  .btn:hover {
    background-color: #b544ea;
  }
  
  .btn:disabled {
    background-color: #f56af5;
    cursor: not-allowed;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
 
  